@import '../src/css/font.css';

html {
	font-family: ProximaRegular;
}


.bg {
	background-image: url("./img/Web/Spacia/settings/payment/bookingbg.png");
	height: 70vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10;
	padding: 20px;
}

.signupBg {
	background-image: url("./img/spacia/web/Background.png");
	height: 90vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10;
	padding: 20px;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.tagMargin ,.form-group{
	padding: 10px;
	background-color: #FFF;
}
/* .tagMargin h5, .form-group h5{
	margin: 20px 5px;
} */
/* .tagMargin label, .form-group label{
	margin: 20px 5px;
} */
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

input.PhoneInputInput{
	border: none;
	padding: 10;
	border-radius: 10;

}

.App-link {
	color: #61dafb;
}

.form-group input {
	background-color: #ececec;
}

.bgImage {
	width: "100vw";
	height: "100vh";
	background-color: "green";
	position: "relative";
}

.button-yellow {
	background-color: #f99500;
	border-radius: 5px;
	padding: 10px 20px;
	border: none;
	color: white;
}



.button {
	background-color: #f85a47;
	border-radius: 5px;
	padding: 10px 20px;
	border: none;
	color: white;
	width: 120px;
	border: none;
}

.button-calm {
	background-color: #e2e2e2;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	border: none;
	color: black;
	width: 150px;
	margin-right: 20px;
}

.header {
	padding: 20px;
}

.card {
	margin-right: 10px;
	margin-bottom: 10px;
}

.stripCard {
	display: flex;
	border: 1px solid #3434344d;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.settingsNavItem {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.newmodal {
	height: 80vh;
	background-image:url('../src/img/Web/Spacia/nastuh-abootalebi-eHD8Y1Znfpk-unsplash 1.png');
	background-size: cover;
}

.selectCard{
	background-color:#F1F1F1;
    padding:20px;
    border-radius:5px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.selectCard h6{
	margin-top: auto;
	margin-bottom: auto;

}

.bsdropdown{
	background-color: transparent;
}

.selectCard:hover{
	border: 1px solid red;
}

.backCard {
        width:100%;
		height:7vh;
        background-color:'white';
        padding-top:10vh

}


.active {
	font-weight: bold;
}

.ellipse {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #343434;
	position: relative;
}

input {
	background-color: #ececec;
}

.ListPropBtn{
	border: none;
	margin: 50px 20px;
	background-color: #f85a47;
	color: #fff;
	width: 130px;
	height: 45px;
	border-radius: 5px;
}
.headerListPropBtn{
	flex-basis: 50%;
	position: relative;
}
.headerListPropBtn button{
	position: absolute;
	right: 10px;
	top: 20px;
	border: none;
	border-radius: 5px;
	background-color: #f85a47;
	color: #FFF;
	height: 45px;
	width: 180px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #f859475e;
	  border-radius: 10px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 30px;
      cursor: ew-resize;
      background: #F85A47;
      box-shadow: -80px 0 0 80px #ff0e0e;
	  cursor: pointer;

    }

}

/** FF*/
input[type="range"]::-moz-range-progress {
	background-color: #43e5f7; 
  }
  input[type="range"]::-moz-range-track {  
	background-color: #9a905d;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
	background-color: #43e5f7; 
  }
  input[type="range"]::-ms-fill-upper {  
	background-color: #9a905d;
  }

.paymentCard {
	background-color: #f0f0f0;
	border: 1px dashed rgba(128, 128, 128, 0.63);
	padding: 20px 40px;
	padding-left: 20px;
	display: flex;
	border-radius: 5px;
	margin-right: 20px;
	color: #787878;
	/* width: 150px !important; */
}

.paymentCard-active {
	background-color: #f8594728;
	border: 1px dashed #f85a47;
	padding: 20px 40px;
	padding-left: 20px;
	display: flex;
	border-radius: 5px;
	margin-right: 20px;
	color: #f85a47;
}

.flatText{
	margin-bottom: 0;
}

.user-admin {
	background-color: #f85a47;
}

.link {
	text-decoration: none;
}

.headerUnderlineActive {
	padding: 10px;
	border-bottom: 1px solid #343434;
}

.flexStrip {
	display: flex;
	justify-content: normal;
}

.ellipseAttribute {
	position: absolute;
	bottom: 0;
	right: 0;
}

td {
	/*font-family: ProximaRegular;*/
	/*vertical-align: middle;*/
	/*padding-top: 0;*/
	padding: 5px !important;
}
.table>:not(caption)>*>* {
	padding: 0;
}

/*tr:nth-child(even) {*/
/*	 background: #f7f7f7;*/
/* }*/

tr {
	background: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: red !important; 
	}

.nav-tabs .nav-link {
	color: #393939 !important;
	}

/*tr:nth-child(odd) {
/*	background: white;*/
/*}*/

.fomr-control{
	font-size: 1rem;
}

.strip {
	display: flex;
	justify-content: space-between;
}

.TableImg {
	background-color: #343434;
	border-radius: 50%;
	/* width: 10;
  height: 10; */
}

.uploadBox{
	padding: 20px;
	text-align: center;
	border: 1px dashed tomato;
	background-color: #FFCBC6;
}

.uploadButton{
	padding:10px 40px;
	border: none;
	color: white;
	background-color: #FFCBC6;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 17vw;
}
.fitImage img{
	border-radius: 6px;
}


.role-admin {
	color: red;
	background-color: red;
	border: none;
	padding: 10px;
}

.inputWrapper {
    height: 32px;
    width: 64px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #DDF;
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:100%;
	margin-top: 40px;
}
.mapouter{
	position:relative;
	text-align:right;
	height:500px;
	width:100%;
}

.sideNav {
	background-color: #343434;
	height: 100vh;
	position: fixed;
}

.navItem {
	/* background-color:red ; */
	padding: 20px;
	color: white;
	display: flex;
	margin: auto;
	/* justify-content: center; */
}
.navItem-active {
	/* background-color:red ; */
	padding: 20px;
	color: white;
	font-weight: bold;
	border-left: 3px solid #f85a47;
	display: flex;
	margin: auto;
	/* justify-content: center; */
}

.tableUnderline {
	border-bottom: #343434;
	padding: 10;
}

.fixedBottom {
	position: fixed;
	bottom: 5vh;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
